body {
    padding: 0;
    margin: 0;
}

.algorithm-box {
    border: 1px solid #cad8ef;
    padding: 2em 1em 1em 1em;
    position: relative;
    max-width: 700px;
    box-sizing: border-box;
}

.algorithm-box:before {
    display: block;
    color: #5185bd;
    font-weight: bold;
    position: absolute;
    left: 0.5em;
    top: 2px;
}

.algorithm-box.box.collapsed {
    overflow: hidden;
    height: 0;
    padding: 0;
}

.algorithm-box.options:before {
    content: "Options";
}

.visualization {
    border-top: none;
    padding: 0;
}

.box-header {
    border-bottom: none;
    padding: 0.5em;
    color: #5185bd;
    font-weight: bold;
    cursor: pointer;
}

.box-header:hover {
    color: #5185bd;
    background-color: #e5f0fa;
}

.box-header:after {
    content: "";
    background-image: url('chevron.png');
    background-position: center center;
    width: 16px;
    height: 16px;
    position: absolute;
    right: 4px;
    top: 8px;
    transform:rotate(180deg);
}

.box-header.collapsed:after {
    transform:rotate(0deg);
}

.algorithm-box.results {
    text-align: center;
    background-color: #aadff7;
}

.algorithm-box.results .best {
    color: red;
    position: relative;
    margin-top: 1.5em;
}

.algorithm-box.results .best:before {
    content: "the best solution";
    display: block;
    padding: 2px;
    color: white;
    background-color: red;
    position: absolute;
    width: 100%;
    max-width: 200px;
    margin-left: -100px;
    top: -20px;
    left: 50%;
}

.algorithm-box.results .bin {
    display: block;
    font-family: monospace;
}
.algorithm-box.results .data {
    display: block;
    margin-bottom: 1em;
    font-family: monospace;
    background-image: none;
}

.progress .algorithm-box.results {
    background-image: url(dna-progress.gif);
    background-repeat: no-repeat;
    background-position: center center;
}

label {
    color: #5185bd;
    display: block;
}

input {
    margin-bottom: 1em;
    padding: 4px;
    min-width: 100px;
}

input + small {
    display: block;
    margin-top: -1em;
    color: #999999;
    margin-bottom: 1em;
}

.column-small input {
    width: 60px;
}

.column {
    float: left;
    width: 50%;
    box-sizing: border-box;
}

.column34 {
    float: left;
    width: 75%;
    box-sizing: border-box;
}

.column-small {
    float: left;
    width: 25%;
    box-sizing: border-box;
}

.full-width {
    width: 90%;
    box-sizing: border-box;
}

@media screen and (max-width: 600px) {
    .column, .column34 {
        width: 100%;
    }
    .full-width {
        width: 100%;
    }
    .column-small {
        width: 50%;
    }
}
@media screen and (max-width: 400px) {
    .column-small {
        width: 100%;
    }
    .algorithm-box.results .best:before {
        margin-left: 0;
        left: 0;
    }
}

.clear {
    clear: left;
    line-height: 0;
    padding: 0;
    margin: 0;
    width: 0;
    height: 0;
}

input[type="button"] {
    padding: 1em 2em;
    border: 1px solid #ffffff;
    color: #ffffff;
    background-color: #0082b5;
    cursor: pointer;
    width: 100%;
}

input[type="button"]:hover {
    background-color: #004f72;
}